<%- include('./partials/header') %>

	<h1><%= companyName %></h1>
	<h1>Computers ready to use: <%= computerCount%>%, Computers in use <%= usedComputerCount%>%</h1>
	<h1>Mobile phones ready to use: <%= mobileCount%></h1>

	<h1>All Assets <%= allAssets %></h1>
<%- include('./partials/footer') %>
